<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layout/webboard_layout}">

<div layout:fragment="content">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>BNO</th>
				<th>TITLE</th>
				<th>WRITER</th>
				<th>REGDATE</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>[[${result.bno}]]</a></td>
				<td>[[${result.title}]]</td>
				<td>[[${result.writer}]]</td>
				<td class="center">[[${#dates.format(result.regdate, 'yyyy-MM-dd')}]]</td>
			</tr>
		</tbody>		
	</table>
	<a class="btn btn-primary" th:href="@{/boards/delete/} + ${result.bno}">delete</a>
	<a class="btn btn-primary" th:href="@{/boards/edit/} + ${result.bno}">update</a>
</div>


